{% comment %} sections/header.liquid {% endcomment %}

{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header-wrapper">
  {% comment %} Left: Logo {% endcomment %}
  <div class="header-left">
    <a href="{{ routes.root_url }}" class="header-logo">
      {%- if section.settings.logo != blank -%}
        {{ section.settings.logo | image_url: width: section.settings.logo_width | image_tag: loading: 'eager', alt: shop.name }}
      {%- else -%}
        <img src="{{ 'templogo.svg' | asset_url }}" alt="{{ shop.name }}" width="{{ section.settings.logo_width }}" height="auto">
      {%- endif -%}
    </a>
  </div>

  {% comment %} Middle: Menu {% endcomment %}
  <div class="header-center">
    {%- if section.settings.menu != blank -%}
      <nav class="header-navigation">
        <ul class="header-menu">
          {%- assign menu_links = "Shop All,Categories,Most Popular,New Arrivals,Why Resto Supply Hub,About,Contact" | split: ',' -%}
          {%- for title in menu_links -%}
            <li class="header-menu-item">
              <a href="#" class="header-menu-link">
                {{ title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
  </div>

  {% comment %} Right: Icons {% endcomment %}
  <div class="header-right">
    {%- if section.settings.show_user_icon -%}
      <a href="{{ routes.account_url }}" class="header-icon header-icon--account">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.5856 25.8176V23.3588C24.5856 22.0545 24.0675 20.8037 23.1452 19.8815C22.223 18.9592 20.9722 18.4411 19.6679 18.4411H9.83267C8.52843 18.4411 7.27762 18.9592 6.35538 19.8815C5.43315 20.8037 4.91504 22.0545 4.91504 23.3588V25.8176" stroke="#149B77" stroke-width="2.45882" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14.7545 13.5235C17.4705 13.5235 19.6722 11.3218 19.6722 8.60586C19.6722 5.88992 17.4705 3.68822 14.7545 3.68822C12.0386 3.68822 9.83691 5.88992 9.83691 8.60586C9.83691 11.3218 12.0386 13.5235 14.7545 13.5235Z" stroke="#149B77" stroke-width="2.45882" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    {%- endif -%}

    {%- if section.settings.show_cart_icon -%}
      <a href="{{ routes.cart_url }}" class="header-icon header-icon--cart" id="cart-icon-bubble">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_56_261)">
            <path d="M11.0673 27.047C11.7463 27.047 12.2967 26.4966 12.2967 25.8176C12.2967 25.1386 11.7463 24.5882 11.0673 24.5882C10.3883 24.5882 9.83789 25.1386 9.83789 25.8176C9.83789 26.4966 10.3883 27.047 11.0673 27.047Z" stroke="#149B77" stroke-width="2.45882" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24.5907 27.047C25.2697 27.047 25.8201 26.4966 25.8201 25.8176C25.8201 25.1386 25.2697 24.5882 24.5907 24.5882C23.9118 24.5882 23.3613 25.1386 23.3613 25.8176C23.3613 26.4966 23.9118 27.047 24.5907 27.047Z" stroke="#149B77" stroke-width="2.45882" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.22949 1.2294H6.14713L9.44194 17.6912C9.55436 18.2572 9.86228 18.7656 10.3118 19.1275C10.7613 19.4894 11.3238 19.6816 11.9008 19.6705H23.8506C24.4276 19.6816 24.99 19.4894 25.4396 19.1275C25.8891 18.7656 26.197 18.2572 26.3094 17.6912L28.2765 7.37645H7.37653" stroke="#149B77" stroke-width="2.45882" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
            <clipPath id="clip0_56_261">
              <rect width="29.5058" height="29.5058" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    {%- endif -%}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 40,
      "max": 300,
      "step": 10,
      "default": 80,
      "unit": "px",
      "label": "Logo width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "checkbox",
      "id": "show_user_icon",
      "default": true,
      "label": "Show user icon"
    },
    {
      "type": "checkbox",
      "id": "show_cart_icon",
      "default": true,
      "label": "Show cart icon"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
